.NewFaces__container {
  padding: 0 1.5rem;
  width: 100%;

  .NewFaces__img {
    display: flex;
    flex-wrap: wrap;
    align-items:start;
    gap: 1.5rem;
    .card__img__bigest {
      padding-left: 0.5rem;
      width: 285px;
    }
  }
  .card__name {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #141313;
    margin-block: 3rem 1.5rem;
    letter-spacing: -0.72px;
  }
  .card__text {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #4B4B4B;
    line-height: 1.5;
  }
  .btn__container {
    display: flex;
    align-items: start;
    padding-top: 2rem;
    gap: 4.3rem;
  }

}