.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.nav__burger {
  background: #000;
  height: 1px;
  width: 20px;
}