.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.nav__burger {
  background: #FFFFFF;
  height: 1px;
  width: 20px;
}

.strip{
  margin-bottom: 2rem;
}

.back_button{
  border: none;
  background-color: transparent;
  /* outline: none; */
}