@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@font-face {
  font-family: 'HelveticaNeueCyrRoman';
  src: url('./fonts/helveticaneuecyr_roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* font-family: 'HelveticaNeueCyrRoman', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --black : #141313;
  --gray: #AFAFAF;
  color: var(--black);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

hr{
  height: 1px;
  background: var(--gray);
}

html {
  font-size: 62.5%;
}

body {
  margin: auto;
  max-width: 1440px;
}

body > * {
  padding: 0 15px
}

body > *:first-child {
  padding: 0;
}

@media (min-width: 1024px) {
  body>* {
    max-width: 1440px;
    padding: 0 15px;
  }

  html {
    /* font-size: 69.5%; Теперь 1rem = 14px (87.5% от 16px) */
  }
}